In [1]:
import sys
import os

# Legg til src-mappen i sys.path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../src')))

from data_rens import DataRens
from data_manipulering import DataManipulering

# Nedbør

In [2]:
# Oppretter filstien til JSONfil med nedbør
nedbor_fil = "../data/frost_nedbor.json"

# Oppretter et nedbørs-objekt i DataRens()
rens_nedbor = DataRens()
manip_nedbor = DataManipulering()


# Lager DataFrame av en JSON
df = rens_nedbor.fra_json_til_dataframe(nedbor_fil)


### Manipulerer dataen:
df_fjern_verdi = manip_nedbor.fjern_verdi_for_tilfeldig_aar(df)
df_legg_til_duplikater = manip_nedbor.legg_til_duplikater_for_tilfeldig_aar(df_fjern_verdi)

Fjern verdi for år 2018 (rad: 38)
Legger til duplikat for år 1999.
Totalt antall rader etter duplisering: 42.

In [3]:
# Bruke metode for å rense Dataframen
df_nedbor_renset = rens_nedbor.rens_DataFrame(df_legg_til_duplikater)

# Legge til nye gjennomsnittlige verdier
df_med_gjennomsnittlige_verdier = rens_nedbor.nye_nedbør_verdier(df_nedbor_renset)

# Printer ut renset dataframe av nedbør
display(df_med_gjennomsnittlige_verdier)

Antall duplikater funnet: 1
Duplikater er fjernet - antall rader:  41
Antall år med manglende verdi: 1
Rader uten verdi:
 year  value unit
 2018    NaN   mm
Manglende verdier er erstattet med gjennomsnittet:  833.85

    year    value  avg_per_day unit  days
0   1980   766.80         2.10   mm   366
1   1981   712.20         1.95   mm   365
2   1982   840.50         2.30   mm   365
3   1983   646.10         1.77   mm   365
4   1984   871.40         2.38   mm   366
5   1985   910.40         2.49   mm   365
6   1986   709.60         1.94   mm   365
7   1987   852.50         2.34   mm   365
8   1988  1082.80         2.96   mm   366
9   1989   777.80         2.13   mm   365
10  1990   746.10         2.04   mm   365
11  1991   613.60         1.68   mm   365
12  1992   753.50         2.06   mm   366
13  1993   762.00         2.09   mm   365
14  1994   661.40         1.81   mm   365
15  1995   699.30         1.92   mm   365
16  1996   669.00         1.83   mm   366
17  1997   587.30         1.61   mm   365
18  1998   797.40         2.18   mm   365
40  1999   944.90         2.59   mm   365
19  2000  1172.60         3.20   mm   366
20  2001   817.80         2.24   mm   365
21  2002   837.00         2.29   mm   365
22  2003   725.80         1.99   mm   365
23  2004   754.50         2.06   mm   366
24  2005   710.30         1.95   mm   365
25  2006   930.80         2.55   mm   365
26  2007   869.10         2.38   mm   365
27  2008  1013.70         2.77   mm   366
28  2009   935.70         2.56   mm   365
29  2010   736.90         2.02   mm   365
30  2011   987.20         2.70   mm   365
31  2012   971.20         2.65   mm   366
32  2013   757.80         2.08   mm   365
33  2014  1028.00         2.82   mm   365
34  2015   911.20         2.50   mm   365
35  2016   724.10         1.98   mm   366
36  2017   942.20         2.58   mm   365
37  2018   833.85         2.28   mm   365
38  2019  1043.10         2.86   mm   365
39  2020  1080.50         2.95   mm   366

# Skydekke

In [4]:
#Oppretter filstien til JSONfil med nedbør
skydekke_fil = "../data/frost_skydekke.json"

#Oppreter et nedbørs-objekt i DataRens() 
rens_skydekke = DataRens()

#Bruker metode fra klassen for å konvertere JSON til dataframe
df_skydekke = rens_skydekke.fra_json_til_dataframe(skydekke_fil)

#Bruke metode for å rense Dataframen
df_skydekke_renset = rens_nedbor.rens_DataFrame(df_skydekke)

#Printer ut renset dataframe av nedbør:
display(df_skydekke_renset.head())

Antall duplikater funnet: 0
Det er ingen datoer som mangler verdier!

   year  value   unit
0  1980    5.0  octas
1  1981    5.2  octas
2  1982    5.3  octas
3  1983    5.1  octas
4  1984    5.5  octas

# Temperatur

In [5]:
#Oppretter filstien til JSONfil med nedbør
temp_fil = "../data/frost_temp.json"

#Oppreter et nedbørs-objekt i DataRens() 
rens_temp = DataRens()

#Bruker metode fra klassen for å konvertere JSON til dataframe
df_temp = rens_temp.fra_json_til_dataframe(temp_fil)

#Bruke metode for å rense Dataframen
df_temp_renset = rens_temp.rens_DataFrame(df_temp)

#Printer ut renset dataframe av nedbør:
display(df_temp_renset.head())

Antall duplikater funnet: 0
Det er ingen datoer som mangler verdier!

   year  value  unit
0  1980    5.4  degC
1  1981    5.2  degC
2  1982    6.2  degC
3  1983    7.0  degC
4  1984    6.7  degC