In [1]:
import sys
import os

# Legg til src-mappen i sys.path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../src')))

from data_rens import DataRens

# Nedbør

In [2]:
# Oppretter filstien til JSONfil med nedbør
nedbor_fil = "../data/frost_nedbor.json"

# Oppretter et nedbørs-objekt i DataRens()
rens_nedbor = DataRens()

# Bruker metode fra klassen for å konvertere JSON til dataframe
df_nedbor = rens_nedbor.fra_json_til_dataframe(nedbor_fil)

#Lage datafeil
df_med_feil = rens_nedbor.fjern_verdi_for_tilfeldig_aar(df_nedbor)
#print(df_med_feil.head())

df_med_duplikater = rens_nedbor.legg_til_duplikater_for_tilfeldig_aar(df_med_feil)
print(df_med_duplikater)

# Bruke metode for å rense Dataframen
df_nedbor_renset = rens_nedbor.rens_DataFrame(df_nedbor)  # Bruk denne!!

# Legge til nye gjennomsnittlige verdier
df_med_gjennomsnittlige_verdier = rens_nedbor.nye_nedbør_verdier(df_nedbor_renset)

# Printer ut renset dataframe av nedbør
#display(df_med_gjennomsnittlige_verdier.head())

Fant ikke data for år 2015
Fant ikke data for år 2018
     sourceId             referenceTime                      elementId  \
0   SN18700:0  1980-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
1   SN18700:0  1981-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
2   SN18700:0  1982-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
3   SN18700:0  1983-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
4   SN18700:0  1984-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
5   SN18700:0  1985-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
6   SN18700:0  1986-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
7   SN18700:0  1987-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
8   SN18700:0  1988-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
9   SN18700:0  1989-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
10  SN18700:0  1990-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
11  SN18700:0  1991-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
12  SN18700:0  1992-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
13  SN18700:0  1993-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
14  SN18700:0  1994-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
15  SN18700:0  1995-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
16  SN18700:0  1996-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
17  SN18700:0  1997-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
18  SN18700:0  1998-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
19  SN18700:0  1999-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
20  SN18700:0  2000-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
21  SN18700:0  2001-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
22  SN18700:0  2002-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
23  SN18700:0  2003-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
24  SN18700:0  2004-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
25  SN18700:0  2005-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
26  SN18700:0  2006-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
27  SN18700:0  2007-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
28  SN18700:0  2008-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
29  SN18700:0  2009-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
30  SN18700:0  2010-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
31  SN18700:0  2011-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
32  SN18700:0  2012-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
33  SN18700:0  2013-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
34  SN18700:0  2014-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
35  SN18700:0  2015-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
36  SN18700:0  2016-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
37  SN18700:0  2017-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
38  SN18700:0  2018-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
39  SN18700:0  2019-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)
40  SN18700:0  2020-01-01T00:00:00.000Z  sum(precipitation_amount P1Y)

     value unit timeOffset performanceCategory
0    766.8   mm       PT6H                   C
1    712.2   mm       PT6H                   C
2    840.5   mm       PT6H                   C
3    646.1   mm       PT6H                   C
4    871.4   mm       PT6H                   C
5    910.4   mm       PT6H                   C
6    709.6   mm       PT6H                   C
7    852.5   mm       PT6H                   C
8   1082.8   mm       PT6H                   C
9    777.8   mm       PT6H                   C
10   746.1   mm       PT6H                   C
11   613.6   mm       PT6H                   C
12   753.5   mm       PT6H                   C
13   762.0   mm       PT6H                   C
14   661.4   mm       PT6H                   C
15   699.3   mm       PT6H                   C
16   669.0   mm       PT6H                   C
17   587.3   mm       PT6H                   C
18   797.4   mm       PT6H                   C
19   944.9   mm       PT6H                   C
20  1172.6   mm       PT6H                   C
21   817.8   mm       PT6H                   C
22   837.0   mm       PT6H                   C
23   725.8   mm       PT6H                   C
24   754.5   mm       PT6H                   C
25   710.3   mm       PT6H                   C
26   930.8   mm       PT6H                   C
27   869.1   mm       PT6H                   C
28  1013.7   mm       PT6H                   C
29   935.7   mm       PT6H                   C
30   736.9   mm       PT6H                   C
31   987.2   mm       PT6H                   C
32   971.2   mm       PT6H                   C
33   757.8   mm       PT6H                   C
34  1028.0   mm       PT6H                   C
35   911.2   mm       PT6H                   C
36   724.1   mm       PT6H                   C
37   942.2   mm       PT6H                   C
38   657.1   mm       PT6H                   C
39  1043.1   mm       PT6H                   C
40  1080.5   mm       PT6H                   C
Antall duplikater funnet: 0
Det er ingen datoer som mangler verdier!

# Skydekke

In [3]:
#Oppretter filstien til JSONfil med nedbør
skydekke_fil = "../data/frost_skydekke.json"

#Oppreter et nedbørs-objekt i DataRens() 
rens_skydekke = DataRens()

#Bruker metode fra klassen for å konvertere JSON til dataframe
df_skydekke = rens_skydekke.fra_json_til_dataframe(skydekke_fil)

#Bruke metode for å rense Dataframen
df_skydekke_renset = rens_nedbor.rens_DataFrame(df_skydekke)

#Printer ut renset dataframe av nedbør:
display(df_skydekke_renset.head())

Antall duplikater funnet: 0
Det er ingen datoer som mangler verdier!

   year  value   unit
0  1980    5.0  octas
1  1981    5.2  octas
2  1982    5.3  octas
3  1983    5.1  octas
4  1984    5.5  octas

# Temperatur

In [4]:
#Oppretter filstien til JSONfil med nedbør
temp_fil = "../data/frost_temp.json"

#Oppreter et nedbørs-objekt i DataRens() 
rens_temp = DataRens()

#Bruker metode fra klassen for å konvertere JSON til dataframe
df_temp = rens_temp.fra_json_til_dataframe(temp_fil)

#Bruke metode for å rense Dataframen
df_temp_renset = rens_temp.rens_DataFrame(df_temp)

#Printer ut renset dataframe av nedbør:
display(df_temp_renset.head())

Antall duplikater funnet: 0
Det er ingen datoer som mangler verdier!

   year  value  unit
0  1980    5.4  degC
1  1981    5.2  degC
2  1982    6.2  degC
3  1983    7.0  degC
4  1984    6.7  degC