In [177]:
import sys
import os

# Legg til src-mappen i sys.path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../src')))

from data_rens import DataRens

# Nedbør

In [178]:
# Oppretter filstien til JSONfil med nedbør
nedbor_fil = "../data/frost_nedbor.json"

# Oppretter et nedbørs-objekt i DataRens()
rens_nedbor = DataRens()

# Bruker metode fra klassen for å konvertere JSON til dataframe
df_nedbor = rens_nedbor.fra_json_til_dataframe(nedbor_fil)

# Bruke metode for å rense Dataframen
df_nedbor_renset = rens_nedbor.rens_DataFrame(df_nedbor)  # Bruk denne!!

# Legge til nye gjennomsnittlige verdier
df_med_gjennomsnittlige_verdier = rens_nedbor.nye_nedbør_verdier(df_nedbor_renset)

# Printer ut renset dataframe av nedbør
display(df_med_gjennomsnittlige_verdier.head())

Fjern verdi for år 1982 (rad: 2)
Legger til duplikat for år 1991
Antall duplikater funnet: 1
Antall år med manglende verdi: 1
Uten verdi:
   year  value unit
2  1982    NaN   mm

   year  value  avg_per_day unit  days
0  1980  766.8         2.10   mm   366
1  1981  712.2         1.95   mm   365
2  1982    NaN          NaN   mm   365
3  1983  646.1         1.77   mm   365
4  1984  871.4         2.38   mm   366

# Skydekke

In [179]:
#Oppretter filstien til JSONfil med nedbør
skydekke_fil = "../data/frost_skydekke.json"

#Oppreter et nedbørs-objekt i DataRens() 
rens_skydekke = DataRens()

#Bruker metode fra klassen for å konvertere JSON til dataframe
df_skydekke = rens_skydekke.fra_json_til_dataframe(skydekke_fil)

#Bruke metode for å rense Dataframen
df_skydekke_renset = rens_nedbor.rens_DataFrame(df_skydekke)

#Printer ut renset dataframe av nedbør:
display(df_skydekke_renset.head())

Fjern verdi for år 1993 (rad: 13)
Legger til duplikat for år 1997
Antall duplikater funnet: 1
Antall år med manglende verdi: 1
Uten verdi:
    year  value   unit
13  1993    NaN  octas

   year  value   unit
0  1980    5.0  octas
1  1981    5.2  octas
2  1982    5.3  octas
3  1983    5.1  octas
4  1984    5.5  octas

# Temperatur

In [180]:
#Oppretter filstien til JSONfil med nedbør
temp_fil = "../data/frost_temp.json"

#Oppreter et nedbørs-objekt i DataRens() 
rens_temp = DataRens()

#Bruker metode fra klassen for å konvertere JSON til dataframe
df_temp = rens_temp.fra_json_til_dataframe(temp_fil)

#Bruke metode for å rense Dataframen
df_temp_renset = rens_temp.rens_DataFrame(df_temp)

#Printer ut renset dataframe av nedbør:
display(df_temp_renset.head())

Fjern verdi for år 1989 (rad: 9)
Legger til duplikat for år 1986
Antall duplikater funnet: 1
Antall år med manglende verdi: 1
Uten verdi:
   year  value  unit
9  1989    NaN  degC

   year  value  unit
0  1980    5.4  degC
1  1981    5.2  degC
2  1982    6.2  degC
3  1983    7.0  degC
4  1984    6.7  degC