In [315]:
import pandas as pd
import json

In [327]:
def fra_json_til_dataframe(filnavn):
    with open(filnavn, "r", encoding="utf-8") as f:
        data = json.load(f)
    
    #Henter observasjonene
    observationer = data.get("data", [])
    
    #Definerer tomme rader først
    rader = []

    for obs in observationer:
        source_id = obs.get('sourceId', None)
        reference_time = obs.get('referenceTime', None)


    #For hver observasjon kan vi lage en rad med informasjonen vi trenger
        for observation in obs.get('observations', []):
            rader.append({
                'sourceId': source_id,
                'referenceTime': reference_time,
                'elementId': observation.get('elementId', None),
                'value': observation.get('value', None),
                'unit': observation.get('unit', None),
                'timeOffset': observation.get('timeOffset', None),
                'performanceCategory': observation.get('performanceCategory', None)
            })
    
    #Lag en Pandas DataFrame
    df = pd.DataFrame(rader)
    return df

In [317]:
#Les data fra JSON nedbør
df_nedbor = fra_json_til_dataframe("frost_nedbor.json")


#Skriv ut dataene i tabell
print("Nedbør 2023:")
display(df_nedbor)

Nedbør 2023:

,sourceId,referenceTime,elementId,value,unit,timeOffset,performanceCategory
0,SN18700:0,2023-01-01T00:00:00.000Z,sum(precipitation_amount P1D),0.0,mm,PT18H,C
1,SN18700:0,2023-01-01T00:00:00.000Z,sum(precipitation_amount P1D),0.0,mm,PT6H,C
2,SN18700:0,2023-01-02T00:00:00.000Z,sum(precipitation_amount P1D),0.6,mm,PT18H,C
3,SN18700:0,2023-01-02T00:00:00.000Z,sum(precipitation_amount P1D),0.6,mm,PT6H,C
4,SN18700:0,2023-01-03T00:00:00.000Z,sum(precipitation_amount P1D),0.0,mm,PT18H,C
...,...,...,...,...,...,...,...
723,SN18700:0,2023-12-28T00:00:00.000Z,sum(precipitation_amount P1D),2.2,mm,PT6H,C
724,SN18700:0,2023-12-29T00:00:00.000Z,sum(precipitation_amount P1D),6.3,mm,PT18H,C
725,SN18700:0,2023-12-29T00:00:00.000Z,sum(precipitation_amount P1D),5.5,mm,PT6H,C
726,SN18700:0,2023-12-30T00:00:00.000Z,sum(precipitation_amount P1D),0.4,mm,PT18H,C
727,SN18700:0,2023-12-30T00:00:00.000Z,sum(precipitation_amount P1D),1.8,mm,PT6H,C

In [318]:
#Les data fra JSON temp
df_temp = fra_json_til_dataframe("frost_temp.json")


#Skriv ut på tabell:
print("Temperatur 1980-2020:")
display(df_temp)

Temperatur 1980-2020:

,sourceId,referenceTime,elementId,value,unit,timeOffset,performanceCategory
0,SN18700:0,1980-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),5.400,degC,PT0H,C
1,SN18700:0,1981-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),5.200,degC,PT0H,C
2,SN18700:0,1982-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),6.200,degC,PT0H,C
3,SN18700:0,1983-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.000,degC,PT0H,C
4,SN18700:0,1984-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),6.700,degC,PT0H,C
5,SN18700:0,1985-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),4.400,degC,PT0H,C
6,SN18700:0,1986-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),5.500,degC,PT0H,C
7,SN18700:0,1987-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),4.600,degC,PT0H,C
8,SN18700:0,1988-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),6.600,degC,PT0H,C
9,SN18700:0,1989-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.700,degC,PT0H,C
10,SN18700:0,1990-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.800,degC,PT0H,C
11,SN18700:0,1991-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),6.700,degC,PT0H,C
12,SN18700:0,1992-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.100,degC,PT0H,C
13,SN18700:0,1993-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),6.100,degC,PT0H,C
14,SN18700:0,1994-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),6.300,degC,PT0H,C
15,SN18700:0,1995-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),6.400,degC,PT0H,C
16,SN18700:0,1996-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),5.300,degC,PT0H,C
17,SN18700:0,1997-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.200,degC,PT0H,C
18,SN18700:0,1998-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),6.400,degC,PT0H,C
19,SN18700:0,1999-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),6.800,degC,PT0H,C
20,SN18700:0,2000-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.800,degC,PT0H,C
21,SN18700:0,2001-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),6.200,degC,PT0H,C
22,SN18700:0,2002-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.000,degC,PT0H,C
23,SN18700:0,2003-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.000,degC,PT0H,C
24,SN18700:0,2004-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.200,degC,PT0H,C
25,SN18700:0,2005-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.400,degC,PT0H,C
26,SN18700:0,2006-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.700,degC,PT0H,C
27,SN18700:0,2007-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.183,degC,PT0H,C
28,SN18700:0,2008-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.500,degC,PT0H,C
29,SN18700:0,2009-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),6.700,degC,PT0H,C
30,SN18700:0,2010-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),4.842,degC,PT0H,C
31,SN18700:0,2011-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.383,degC,PT0H,C
32,SN18700:0,2012-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),6.567,degC,PT0H,C
33,SN18700:0,2013-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),6.708,degC,PT0H,C
34,SN18700:0,2014-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),8.292,degC,PT0H,C
35,SN18700:0,2015-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.625,degC,PT0H,C
36,SN18700:0,2016-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.300,degC,PT0H,C
37,SN18700:0,2017-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),6.942,degC,PT0H,C
38,SN18700:0,2018-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.750,degC,PT0H,C
39,SN18700:0,2019-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),7.283,degC,PT0H,C
40,SN18700:0,2020-01-01T00:00:00.000Z,best_estimate_mean(air_temperature P1Y),8.717,degC,PT0H,C

Tabell Nedbør renset:
- Fjerner unødvendig informasjon. Freks: klokkeslett, sourceID, timeOffset etc..
- Regner ut gjennomsnittet av begge nedbørsmålingene som skjer på samme dag, slik at det blir ryddigrere og mer oversiktelig.
- Satt inn dato 31.12.2023, og gitt den medianverdien til desember 2023

In [326]:
def fra_json_til_dataframe(filnavn):
    with open(filnavn, "r", encoding="utf-8") as f:
        data = json.load(f)
    
    #Henter inn observasjonene
    observationer = data.get("data", [])
    
    rader = []

    for obs in observationer:
        source_id = obs.get('sourceId', None)
        reference_time = obs.get('referenceTime', None)

        #For hver observasjon vi gjør lager vi en rad med nødvendig informasjon
        for observation in obs.get('observations', []):
            rader.append({
                'sourceId': source_id,
                'referenceTime': reference_time[:10], #Tar bort klokkeslett, har bare med dato
                'elementId': observation.get('elementId', None),
                'value': observation.get('value', None),
                'unit': observation.get('unit', None)
            })
    
    df = pd.DataFrame(rader)

    #Trenger at value blir numerisk, slik at vi kan regne ut gjennomsnittet
    df["value"] = pd.to_numeric(df["value"], errors="coerce")
    return df

df_nedbor = fra_json_til_dataframe("frost_nedbor.json")

#Leser dataene etter dato, før vi deretter beregner gjennomsnittet
df_nedbor_avg = df_nedbor.groupby("referenceTime", as_index=False)["value"].mean()
df_nedbor_avg["unit"] = df_nedbor.groupby("referenceTime")["unit"].first().reset_index(drop=True)

#Telle duplikater før de fjernes
antall_duplikater = df_nedbor_avg.duplicated().sum()
print(f"Antall duplikater funnet: {antall_duplikater}")

#Dersom dataen har duplikater, blir de fjernet
df_nedbor_avg.drop_duplicates(inplace=True)

#Sjekker om det mangler noen datoer
datoer_2023 = pd.date_range(start="2023-01-01", end="2023-12-31").strftime("%Y-%m-%d")
manglende_datoer = set(datoer_2023) - set(df_nedbor_avg["referenceTime"])

#Regner ut median
def median():
    desember_data = df_nedbor_avg[df_nedbor_avg["referenceTime"].astype(str).str.startswith("2023-12")]
    median_desember = desember_data["value"].median().round(2)
    return median_desember
 
median_desember = median()
print("Median for temperaturen i desember er: ", median_desember)

#legger til ny rad for den manglende datoen
ny_rad = pd.DataFrame({
    "referenceTime": sorted(list(manglende_datoer)),
    "value": [median_desember] * len(manglende_datoer),
    "unit": [df_nedbor_avg["unit"].mode()[0]] * len(manglende_datoer)
})

df_nedbor_avg = pd.concat([df_nedbor_avg, ny_rad], ignore_index=True)

#Skjekker om det er noen datoer som mangler en verdi
manglende_nedbor = df_nedbor_avg["value"].isna().sum()

if manglende_nedbor > 0:
    print(f"Antall datoer med manglende verdi: {manglende_nedbor}")
    print("Datoer uten verdi:")
    print(df_nedbor_avg[df_nedbor_avg["value"].isna()])
else:
    print("Det er ingen datoer som mangler verdier!")

#Utskiften
print("Gjennomsnittlig nedbør per dag i 2023:")
display(df_nedbor_avg)

Antall duplikater funnet: 0
Median for temperaturen i desember er:  0.22
Det er ingen datoer som mangler verdier!
Gjennomsnittlig nedbør per dag i 2023:

    referenceTime  value unit
0      2023-01-01   0.00   mm
1      2023-01-02   0.60   mm
2      2023-01-03   0.00   mm
3      2023-01-04   7.70   mm
4      2023-01-05  13.70   mm
..            ...    ...  ...
360    2023-12-27   0.00   mm
361    2023-12-28   2.70   mm
362    2023-12-29   5.90   mm
363    2023-12-30   1.10   mm
364    2023-12-31   0.22   mm

[365 rows x 3 columns]

Tabell temperatur renset:
- Fjerner unødvendig informasjon. Feks: klokkeslett, sourceID, timeOffset etc..
- Fjerner 2 desimaler, slik at det bare er 1 som skrives ut
- Ser og fjerner eventuelle duplikater
- Skjekker at alle år har en verdi

In [325]:
def fra_json_til_dataframe(filnavn):
    with open(filnavn, "r", encoding="utf-8") as f:
        data = json.load(f)
    
    # Henter observasjonene
    observationer = data.get("data", [])
    
    rader = []

    for obs in observationer:
        reference_time = obs.get('referenceTime', None)

        #For hver observasjon lager vi en rad med nødvendig informasjon
        for observation in obs.get('observations', []):
            rader.append({
                'referenceTime': reference_time[:4],  #Tar bare med årstall
                'value': observation.get('value', None),
                'unit': observation.get('unit', None)
            })
    
    df = pd.DataFrame(rader)
    return df

df_temp = fra_json_til_dataframe("frost_temp.json")

#Runder av til 1. desimal
df_temp["value"] = df_temp["value"].round(1)

#Endrer navn på kolonne "refrenceTime" til year
df_temp.rename(columns={"referenceTime" : "year"}, inplace=True)

#Legger til unit i utskrifte
unit = df_temp["unit"].dropna().unique()
df_temp["unit"] = unit[0] if len(unit) > 0 else "Ukjent"

#Telle duplikater før de fjernes
antall_duplikater = df_temp.duplicated().sum()
print(f"Antall duplikater funnet: {antall_duplikater}")

#Dersom dataen har duplikater, blir de fjernet
df_temp.drop_duplicates(inplace=True)

#Skjekker om det er noen datoer som mangler en verdi
manglende_temperaturer = df_temp["value"].isna().sum()

if manglende_temperaturer > 0:
    print(f"Antall datoer med manglende verdi: {manglende_temperaturer}")
    print("Datoer uten verdi:")
    print(df_temp[df_temp["value"].isna()])
else:
    print("Det er ingen år som mangler verdier!")

#Utskrift
print("Gjennomsnittlig temperatur per år fra 1980-2020:")
display(df_temp)

Antall duplikater funnet: 0
Det er ingen år som mangler verdier!
Gjennomsnittlig temperatur per år fra 1980-2020:

    year  value  unit
0   1980    5.4  degC
1   1981    5.2  degC
2   1982    6.2  degC
3   1983    7.0  degC
4   1984    6.7  degC
5   1985    4.4  degC
6   1986    5.5  degC
7   1987    4.6  degC
8   1988    6.6  degC
9   1989    7.7  degC
10  1990    7.8  degC
11  1991    6.7  degC
12  1992    7.1  degC
13  1993    6.1  degC
14  1994    6.3  degC
15  1995    6.4  degC
16  1996    5.3  degC
17  1997    7.2  degC
18  1998    6.4  degC
19  1999    6.8  degC
20  2000    7.8  degC
21  2001    6.2  degC
22  2002    7.0  degC
23  2003    7.0  degC
24  2004    7.2  degC
25  2005    7.4  degC
26  2006    7.7  degC
27  2007    7.2  degC
28  2008    7.5  degC
29  2009    6.7  degC
30  2010    4.8  degC
31  2011    7.4  degC
32  2012    6.6  degC
33  2013    6.7  degC
34  2014    8.3  degC
35  2015    7.6  degC
36  2016    7.3  degC
37  2017    6.9  degC
38  2018    7.8  degC
39  2019    7.3  degC
40  2020    8.7  degC