In [24]:
import pandas as pd
import sqlite3


df = pd.read_json("frost_lufttrykk.json")

df = pd.json_normalize(df.to_dict(orient="records"))

df = df.apply(lambda kolonne: kolonne.apply(lambda x: str(x) if isinstance(x, (dict, list)) else x))

kobling = sqlite3.connect("frost_Database.db")

df.to_sql("tabell", kobling, if_exists= "replace", index=False)

print("Suksess! JSON er nå omgjort til en database")

Suksess! JSON er nå omgjort til en database

In [20]:
import pandas as pd
import sqlite3

sammenkobling = sqlite3.connect("frost_Database.db")

data_innhenting = "SELECT *  FROM tabell"

df = pd.read_sql_query(data_innhenting, sammenkobling)

sammenkobling.close()

display(df)

,@context,@type,apiVersion,license,createdAt,queryTime,currentItemCount,itemsPerPage,offset,totalItemCount,currentLink,data.sourceId,data.referenceTime,data.observations
0,https://frost.met.no/schema,ObservationResponse,v0,https://creativecommons.org/licenses/by/3.0/no/,2025-03-17T10:44:19Z,1.279,8736,8736,0,8736,https://frost.met.no/observations/v0.jsonld?so...,SN18700:0,2023-01-01T00:00:00.000Z,"[{'elementId': 'air_pressure_at_sea_level', 'v..."
1,https://frost.met.no/schema,ObservationResponse,v0,https://creativecommons.org/licenses/by/3.0/no/,2025-03-17T10:44:19Z,1.279,8736,8736,0,8736,https://frost.met.no/observations/v0.jsonld?so...,SN18700:0,2023-01-01T01:00:00.000Z,"[{'elementId': 'air_pressure_at_sea_level', 'v..."
2,https://frost.met.no/schema,ObservationResponse,v0,https://creativecommons.org/licenses/by/3.0/no/,2025-03-17T10:44:19Z,1.279,8736,8736,0,8736,https://frost.met.no/observations/v0.jsonld?so...,SN18700:0,2023-01-01T02:00:00.000Z,"[{'elementId': 'air_pressure_at_sea_level', 'v..."
3,https://frost.met.no/schema,ObservationResponse,v0,https://creativecommons.org/licenses/by/3.0/no/,2025-03-17T10:44:19Z,1.279,8736,8736,0,8736,https://frost.met.no/observations/v0.jsonld?so...,SN18700:0,2023-01-01T03:00:00.000Z,"[{'elementId': 'air_pressure_at_sea_level', 'v..."
4,https://frost.met.no/schema,ObservationResponse,v0,https://creativecommons.org/licenses/by/3.0/no/,2025-03-17T10:44:19Z,1.279,8736,8736,0,8736,https://frost.met.no/observations/v0.jsonld?so...,SN18700:0,2023-01-01T04:00:00.000Z,"[{'elementId': 'air_pressure_at_sea_level', 'v..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8731,https://frost.met.no/schema,ObservationResponse,v0,https://creativecommons.org/licenses/by/3.0/no/,2025-03-17T10:44:19Z,1.279,8736,8736,0,8736,https://frost.met.no/observations/v0.jsonld?so...,SN18700:0,2023-12-30T19:00:00.000Z,"[{'elementId': 'air_pressure_at_sea_level', 'v..."
8732,https://frost.met.no/schema,ObservationResponse,v0,https://creativecommons.org/licenses/by/3.0/no/,2025-03-17T10:44:19Z,1.279,8736,8736,0,8736,https://frost.met.no/observations/v0.jsonld?so...,SN18700:0,2023-12-30T20:00:00.000Z,"[{'elementId': 'air_pressure_at_sea_level', 'v..."
8733,https://frost.met.no/schema,ObservationResponse,v0,https://creativecommons.org/licenses/by/3.0/no/,2025-03-17T10:44:19Z,1.279,8736,8736,0,8736,https://frost.met.no/observations/v0.jsonld?so...,SN18700:0,2023-12-30T21:00:00.000Z,"[{'elementId': 'air_pressure_at_sea_level', 'v..."
8734,https://frost.met.no/schema,ObservationResponse,v0,https://creativecommons.org/licenses/by/3.0/no/,2025-03-17T10:44:19Z,1.279,8736,8736,0,8736,https://frost.met.no/observations/v0.jsonld?so...,SN18700:0,2023-12-30T22:00:00.000Z,"[{'elementId': 'air_pressure_at_sea_level', 'v..."
8735,https://frost.met.no/schema,ObservationResponse,v0,https://creativecommons.org/licenses/by/3.0/no/,2025-03-17T10:44:19Z,1.279,8736,8736,0,8736,https://frost.met.no/observations/v0.jsonld?so...,SN18700:0,2023-12-30T23:00:00.000Z,"[{'elementId': 'air_pressure_at_sea_level', 'v..."

In [21]:
cursor = kobling.cursor()
cursor.execute("SELECT * FROM tabell LIMIT 5")  # Prøv å hente ut noen rader
rows = cursor.fetchall()
for row in rows:
    print(row)

('https://frost.met.no/schema', 'ObservationResponse', 'v0', 'https://creativecommons.org/licenses/by/3.0/no/', '2025-03-17T10:44:19Z', 1.279, 8736, 8736, 0, 8736, 'https://frost.met.no/observations/v0.jsonld?sources=SN18700&elements=air_pressure_at_sea_level&referencetime=2023-01-01%2F2023-12-31', 'SN18700:0', '2023-01-01T00:00:00.000Z', "[{'elementId': 'air_pressure_at_sea_level', 'value': 998.4, 'unit': 'hPa', 'timeOffset': 'PT0H', 'timeResolution': 'PT1H', 'timeSeriesId': 0, 'performanceCategory': 'C', 'exposureCategory': '2', 'qualityCode': 0}]")
('https://frost.met.no/schema', 'ObservationResponse', 'v0', 'https://creativecommons.org/licenses/by/3.0/no/', '2025-03-17T10:44:19Z', 1.279, 8736, 8736, 0, 8736, 'https://frost.met.no/observations/v0.jsonld?sources=SN18700&elements=air_pressure_at_sea_level&referencetime=2023-01-01%2F2023-12-31', 'SN18700:0', '2023-01-01T01:00:00.000Z', "[{'elementId': 'air_pressure_at_sea_level', 'value': 999.1, 'unit': 'hPa', 'timeOffset': 'PT0H', 'timeResolution': 'PT1H', 'timeSeriesId': 0, 'performanceCategory': 'C', 'exposureCategory': '2', 'qualityCode': 0}]")
('https://frost.met.no/schema', 'ObservationResponse', 'v0', 'https://creativecommons.org/licenses/by/3.0/no/', '2025-03-17T10:44:19Z', 1.279, 8736, 8736, 0, 8736, 'https://frost.met.no/observations/v0.jsonld?sources=SN18700&elements=air_pressure_at_sea_level&referencetime=2023-01-01%2F2023-12-31', 'SN18700:0', '2023-01-01T02:00:00.000Z', "[{'elementId': 'air_pressure_at_sea_level', 'value': 999.8, 'unit': 'hPa', 'timeOffset': 'PT0H', 'timeResolution': 'PT1H', 'timeSeriesId': 0, 'performanceCategory': 'C', 'exposureCategory': '2', 'qualityCode': 0}]")
('https://frost.met.no/schema', 'ObservationResponse', 'v0', 'https://creativecommons.org/licenses/by/3.0/no/', '2025-03-17T10:44:19Z', 1.279, 8736, 8736, 0, 8736, 'https://frost.met.no/observations/v0.jsonld?sources=SN18700&elements=air_pressure_at_sea_level&referencetime=2023-01-01%2F2023-12-31', 'SN18700:0', '2023-01-01T03:00:00.000Z', "[{'elementId': 'air_pressure_at_sea_level', 'value': 1000.3, 'unit': 'hPa', 'timeOffset': 'PT0H', 'timeResolution': 'PT1H', 'timeSeriesId': 0, 'performanceCategory': 'C', 'exposureCategory': '2', 'qualityCode': 0}]")
('https://frost.met.no/schema', 'ObservationResponse', 'v0', 'https://creativecommons.org/licenses/by/3.0/no/', '2025-03-17T10:44:19Z', 1.279, 8736, 8736, 0, 8736, 'https://frost.met.no/observations/v0.jsonld?sources=SN18700&elements=air_pressure_at_sea_level&referencetime=2023-01-01%2F2023-12-31', 'SN18700:0', '2023-01-01T04:00:00.000Z', "[{'elementId': 'air_pressure_at_sea_level', 'value': 1001, 'unit': 'hPa', 'timeOffset': 'PT0H', 'timeResolution': 'PT1H', 'timeSeriesId': 0, 'performanceCategory': 'C', 'exposureCategory': '2', 'qualityCode': 0}]")

In [33]:
import sqlite3

import pandas as pd

import ast  # For å konvertere strenger til lister
 
# Koble til databasen

kobling = sqlite3.connect("frost_Database.db")
 
# Hent ut tidspunkt og observasjoner

df = pd.read_sql_query("SELECT `data.referenceTime`, `data.observations` FROM tabell", kobling)
 
# Lukker koblingen

kobling.close()
 
# Konverter 'data.observations' fra streng til liste

df["data.observations"] = df["data.observations"].apply(ast.literal_eval)
 
# Hent ut verdien av lufttrykket (value) fra observations-listen

df["air_pressure"] = df["data.observations"].apply(lambda x: x[0]["value"] if isinstance(x, list) and len(x) > 0 else None)
df["unit"] = df["data.observations"].apply(lambda x: x[0]["unit"] if isinstance(x, list) and len(x) > 0 else None)
# Behold kun tid og lufttrykk

df = df[["data.referenceTime", "air_pressure", "unit"]]
 
# Skriv ut resultatet

display(df)

            data.referenceTime  air_pressure unit
0     2023-01-01T00:00:00.000Z         998.4  hPa
1     2023-01-01T01:00:00.000Z         999.1  hPa
2     2023-01-01T02:00:00.000Z         999.8  hPa
3     2023-01-01T03:00:00.000Z        1000.3  hPa
4     2023-01-01T04:00:00.000Z        1001.0  hPa
...                        ...           ...  ...
8731  2023-12-30T19:00:00.000Z        1007.7  hPa
8732  2023-12-30T20:00:00.000Z        1008.6  hPa
8733  2023-12-30T21:00:00.000Z        1009.6  hPa
8734  2023-12-30T22:00:00.000Z        1010.9  hPa
8735  2023-12-30T23:00:00.000Z        1011.1  hPa

[8736 rows x 3 columns]

**Data renset**
- Gjennomsnitt av dagstemperatur
- Fjerning av duplikater
- Formatering av dato (er kun ute etter en dag)
- Desimaler?
- mangler en dato, 31.desember

In [52]:
 # Konverter 'data.referenceTime' til datetime-format

df["data.referenceTime"] = pd.to_datetime(df["data.referenceTime"])
 
# Ekstraher dato (YYYY-MM-DD) fra tidskolonnen

df["date"] = df["data.referenceTime"].dt.date
 
# Beregn gjennomsnittlig lufttrykk per dag

df_avg = df.groupby("date").agg({"air_pressure": "mean", "unit": "first"}).reset_index()

# avrunder til to desimaler

df_avg["air_pressure"] = df_avg["air_pressure"].round(2)

#ser om det er noen datoer som mangler

datoer_2023 = pd.date_range(start="2023-01-01", end="2023-12-31").date
manglende_datoer = set(datoer_2023) - set(df_avg["date"])
 
if manglende_datoer:
    print("Manglende datoer i datasettet:")
    for dato in sorted(manglende_datoer):
        manglende_dato = dato
        print(manglende_dato)
else:
    print("Ingen datoer mangler.")


# Find the number of duplicates
print("Antall duplicater:", df_avg.duplicated().sum())
 
#finner medianen for dataene fra desember
def median():
    desember_data = df_avg[df_avg["date"].astype(str).str.startswith("2023-12")]
    median_desember = desember_data["air_pressure"].median().round(2)
    return median_desember

median_desember = median()
print("Median for lufttrykk i desember er: ", median_desember)

#legger til ny rad for den manglende datoen

ny_rad = pd.DataFrame({"date": manglende_dato, "air_pressure": median_desember, "unit": ["hPa"]})
df_avg = pd.concat([df_avg, ny_rad], ignore_index=True)

# Skriv ut resultatet

display(df_avg)

Manglende datoer i datasettet:
2023-12-31
Antall duplicater: 0
Median for lufttrykk i desember er:  1010.66

           date  air_pressure unit
0    2023-01-01       1005.68  hPa
1    2023-01-02       1010.75  hPa
2    2023-01-03       1019.60  hPa
3    2023-01-04       1008.75  hPa
4    2023-01-05       1015.25  hPa
..          ...           ...  ...
360  2023-12-27       1014.21  hPa
361  2023-12-28        996.54  hPa
362  2023-12-29        988.63  hPa
363  2023-12-30       1001.69  hPa
364  2023-12-31       1010.66  hPa

[365 rows x 3 columns]