In [5]:
import numpy as np
import pickle
import pandas as pd

# Henter ut dataen

In [33]:

#Henter ut tabellene 
with open("../data/renset_data_skydekke.pkl", "rb") as f:
    df_skydekke = pickle.load(f)

with open("../data/renset_data_nedbor.pkl", "rb") as f:
    df_nedbor = pickle.load(f)

with open("../data/renset_data_temperatur.pkl", "rb") as f:
    df_temperatur = pickle.load(f)

# Skydekke

In [34]:
print(df_skydekke.columns)

Index(['year', 'values', 'unit'], dtype='object')

In [35]:
#Printer for å teste 
#display(skydekke)

#Konverterer år til int (til å gruppere på årstall senere)
df_skydekke["year"] = df_skydekke["year"].astype(int)  

#Henter ut verdier gruppert på årstall
sky_1980_1989 = df_skydekke[(df_skydekke["year"] >= 1980) & (df_skydekke["year"] <= 1989)]
sky_1990_1999 = df_skydekke[(df_skydekke["year"] >= 1990) & (df_skydekke["year"] <= 1999)]
sky_2000_2009 = df_skydekke[(df_skydekke["year"] >= 2000) & (df_skydekke["year"] <= 2009)]
sky_2010_2020 = df_skydekke[(df_skydekke["year"] >= 2010) & (df_skydekke["year"] <= 2020)]


sky_1980_1989_median = sky_1980_1989["values"].median().round(2)
sky_1990_1999_median = sky_1990_1999["values"].median().round(2)
sky_2000_2009_median = sky_2000_2009["values"].median().round(2)
sky_2010_2020_median = sky_2010_2020["values"].median().round(2)

print("Medianen for skydekket for 1980-1989: ", sky_1980_1989_median, "bananer")
print("Medianen for skydekket for 1990-1999: ", sky_1990_1999_median, "bananer")
print("Medianen for skydekket for 2000-2009: ", sky_2000_2009_median, "bananer")
print("Medianen for skydekket for 2010-2020: ", sky_2010_2020_median, "bananer")

Medianen for skydekket for 1980-1989:  5.2 bananer
Medianen for skydekket for 1990-1999:  5.3 bananer
Medianen for skydekket for 2000-2009:  5.6 bananer
Medianen for skydekket for 2010-2020:  5.6 bananer

# Nedbør

In [37]:
#nedbor = df_nedbor["value"]

#Printer for å teste 
#display(nedbor)

#Konverterer år til int (til å gruppere på årstall senere)
df_nedbor["year"] = df_nedbor["year"].astype(int)  

#Henter ut verdier gruppert på årstall
nedbor_1980_1989 = df_nedbor[(df_nedbor["year"] >= 1980) & (df_nedbor["year"] <= 1989)]
nedbor_1990_1999 = df_nedbor[(df_nedbor["year"] >= 1990) & (df_nedbor["year"] <= 1999)]
nedbor_2000_2009 = df_nedbor[(df_nedbor["year"] >= 2000) & (df_nedbor["year"] <= 2009)]
nedbor_2010_2020 = df_nedbor[(df_nedbor["year"] >= 2010) & (df_nedbor["year"] <= 2020)]


nedbor_1980_1989_median = nedbor_1980_1989["values"].median().round(2)
nedbor_1990_1999_median = nedbor_1990_1999["values"].median().round(2)
nedbor_2000_2009_median = nedbor_2000_2009["values"].median().round(2)
nedbor_2010_2020_median = nedbor_2010_2020["values"].median().round(2)

print("Medianen for nedbøret for 1980-1989: ", nedbor_1980_1989_median, "bananer")
print("Medianen for nedbøret for 1990-1999: ", nedbor_1990_1999_median, "bananer")
print("Medianen for nedbøret for 2000-2009: ", nedbor_2000_2009_median, "bananer")
print("Medianen for nedbøret for 2010-2020: ", nedbor_2010_2020_median, "bananer")

KeyError: 'year'

# Temperatur

In [38]:

#Konverterer år til int (til å gruppere på årstall senere)
df_temperatur["year"] = df_temperatur["year"].astype(int)  

#Henter ut verdier gruppert på årstall
temp_1980_1989 = df_temperatur[(df_temperatur["year"] >= 1980) & (df_temperatur["year"] <= 1989)]
temp_1990_1999 = df_temperatur[(df_temperatur["year"] >= 1990) & (df_temperatur["year"] <= 1999)]
temp_2000_2009 = df_temperatur[(df_temperatur["year"] >= 2000) & (df_temperatur["year"] <= 2009)]
temp_2010_2020 = df_temperatur[(df_temperatur["year"] >= 2010) & (df_temperatur["year"] <= 2020)]


temp_1980_1989_median = temp_1980_1989["value"].median().round(2)
temp_1990_1999_median = temp_1990_1999["value"].median().round(2)
temp_2000_2009_median = temp_2000_2009["value"].median().round(2)
temp_2010_2020_median = temp_2010_2020["value"].median().round(2)

print("Temperatursmedianen for 1980-1989: ", temp_1980_1989_median, "°C")
print("Temperatursmedianen for 1990-1999: ", temp_1990_1999_median, "°C")
print("Temperatursmedianen for 2000-2009: ", temp_2000_2009_median, "°C")
print("Temperatursmedianen for 2010-2020: ", temp_2010_2020_median, "°C")

Temperatursmedianen for 1980-1989:  5.85 °C
Temperatursmedianen for 1990-1999:  6.55 °C
Temperatursmedianen for 2000-2009:  7.2 °C
Temperatursmedianen for 2010-2020:  7.3 °C

# Median oppsummering

In [40]:
data = [
    ["Skydekket, intervall 1", sky_1980_1989_median, "Medianen for skydekket fra årsintervallet 1980-1989"],
    ["Skydekket, intervall 2", sky_1990_1999_median, "Medianen for skydekket fra årsintervallet 1990-1999"],
    ["Skydekket, intervall 3", sky_2000_2009_median, "Medianen for skydekket fra årsintervallet 2000-2009"],
    ["Skydekket, intervall 4", sky_2010_2020_median, "Medianen for skydekket fra årsintervallet 2010-2020"],
    
    ["Nedbør", nedbor_median, "Median av de daglige verdiene for nedbøres gjennom hele 2023"],
    
    ["Temperatur, intervall 1", temp_1980_1989_median, "Mediantemperaturen fra årsintervalet 1980-1989"],
    ["Temperatur, intervall 2", temp_1990_1999_median, "Mediantemperaturen fra årsintervalet 1990-1999"],
    ["Temperatur, intervall 3", temp_2000_2009_median, "Mediantemperaturen fra årsintervalet 2000-2009"],
    ["Temperatur, intervall 4", temp_2010_2020_median, "Mediantemperaturen fra årsintervalet 2010-2020"]
]

df_median = pd.DataFrame(data, columns=["Værelement", "Verdi", "Beskrivelse"])
display(df_median)

,Værelement,Verdi,Beskrivelse
0,"Skydekket, intervall 1",5.20,Medianen for skydekket fra årsintervallet 1980...
1,"Skydekket, intervall 2",5.30,Medianen for skydekket fra årsintervallet 1990...
2,"Skydekket, intervall 3",5.60,Medianen for skydekket fra årsintervallet 2000...
3,"Skydekket, intervall 4",5.60,Medianen for skydekket fra årsintervallet 2010...
4,Nedbør,797.40,Median av de daglige verdiene for nedbøres gje...
5,"Temperatur, intervall 1",5.85,Mediantemperaturen fra årsintervalet 1980-1989
6,"Temperatur, intervall 2",6.55,Mediantemperaturen fra årsintervalet 1990-1999
7,"Temperatur, intervall 3",7.20,Mediantemperaturen fra årsintervalet 2000-2009
8,"Temperatur, intervall 4",7.30,Mediantemperaturen fra årsintervalet 2010-2020