In [8]:
import sys
import os

# Legg til src-mappen i sys.path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../src')))

from data_rens import DataRens
from statistiske_maal import Statistiske_maal
from data_manipulering import DataManipulering

# Temperatur:

* Oppretter et objekt av klassen DataRens og DataManipulering
* Bruker metodene for å opprette en dataframe og manipulere feil i denne

In [9]:
# Oppretter filstien til JSONfil med nedbør
temp_fil = "../data/frost_temp.json"

# Oppretter et nedbørs-objekt i DataRens()
rens_temp = DataRens()
manip_temp = DataManipulering()


# Lager DataFrame av en JSON
df = rens_temp.fra_json_til_dataframe(temp_fil)


### Manipulerer dataen:
df_fjern_verdi = manip_temp.fjern_verdi_for_tilfeldig_aar(df)
df_legg_til_duplikater = manip_temp.legg_til_duplikater_for_tilfeldig_aar(df_fjern_verdi)


#Viser den manipulerte dataframen:
display(df_legg_til_duplikater.head())

Fjern verdi for år 2009 (rad: 29)
Legger til duplikat for år 1997.
Totalt antall rader etter duplisering: 42.

,sourceId,referenceTime,elementId,value,unit,timeOffset,performanceCategory,year
0,SN18700:0,1980-01-01 00:00:00+00:00,best_estimate_mean(air_temperature P1Y),5.4,degC,PT0H,C,1980
1,SN18700:0,1981-01-01 00:00:00+00:00,best_estimate_mean(air_temperature P1Y),5.2,degC,PT0H,C,1981
2,SN18700:0,1982-01-01 00:00:00+00:00,best_estimate_mean(air_temperature P1Y),6.2,degC,PT0H,C,1982
3,SN18700:0,1983-01-01 00:00:00+00:00,best_estimate_mean(air_temperature P1Y),7.0,degC,PT0H,C,1983
4,SN18700:0,1984-01-01 00:00:00+00:00,best_estimate_mean(air_temperature P1Y),6.7,degC,PT0H,C,1984

# Datarens av temperatur
- Bruker metode fra DataRens for å rense dataframen

In [10]:
# Bruke metode for å rense Dataframen
df_temp_renset = rens_temp.rens_DataFrame(df_legg_til_duplikater)

# Printer ut renset dataframe av nedbør
display("Ferdig renset dataframe: ", df_temp_renset)

Antall duplikater funnet: 1
Duplikater er fjernet - antall rader:  41
Antall år med manglende verdi: 1
Rader uten verdi:
 year  value unit
 2009    NaN degC
Manglende verdier er erstattet med gjennomsnittet:  6.74

'Ferdig renset dataframe: '

    year  value  unit
0   1980  5.400  degC
1   1981  5.200  degC
2   1982  6.200  degC
3   1983  7.000  degC
4   1984  6.700  degC
5   1985  4.400  degC
6   1986  5.500  degC
7   1987  4.600  degC
8   1988  6.600  degC
9   1989  7.700  degC
10  1990  7.800  degC
11  1991  6.700  degC
12  1992  7.100  degC
13  1993  6.100  degC
14  1994  6.300  degC
15  1995  6.400  degC
16  1996  5.300  degC
40  1997  7.200  degC
17  1998  6.400  degC
18  1999  6.800  degC
19  2000  7.800  degC
20  2001  6.200  degC
21  2002  7.000  degC
22  2003  7.000  degC
23  2004  7.200  degC
24  2005  7.400  degC
25  2006  7.700  degC
26  2007  7.183  degC
27  2008  7.500  degC
28  2009  6.740  degC
29  2010  4.842  degC
30  2011  7.383  degC
31  2012  6.567  degC
32  2013  6.708  degC
33  2014  8.292  degC
34  2015  7.625  degC
35  2016  7.300  degC
36  2017  6.942  degC
37  2018  7.750  degC
38  2019  7.283  degC
39  2020  8.717  degC

# Beregning av statistiske mål:
*Beregninger*: <br>
Beregningene gjøres i 4 intervaller: <br>
1980-1989 <br>
1990-1999 <br>
2000-2009 <br>
2010-2020 <br>

Samt en beregning for hele intervallet i sin helhet (1980-2020)

**Beregning av gjennomsnitt**

In [11]:
temp_mål = Statistiske_maal()

gjennomsnitt_temp = temp_mål.gjennomsnitt(df_temp_renset)

print("Gjennomsnitt i 4 intervaller + totalt: ")
for key, value in gjennomsnitt_temp.items():
    print(f"{key}: {value} °C")

Gjennomsnitt i 4 intervaller + totalt:
1980-1989: 5.93 °C
1990-1999: 6.61 °C
2000-2009: 7.17 °C
2010-2020: 7.22 °C
Totalt: 6.74 °C

**Beregning av median**

In [4]:
median_temp = temp_mål.median(df_temp_renset)

print("Median i 4 intervaller + totalt: ")
for key, value in median_temp.items():
    print(f"{key}: {value} °C")

Median i 4 intervaller + totalt:
1980-1989: 5.85 °C
1990-1999: 6.55 °C
2000-2009: 7.19 °C
2010-2020: 7.3 °C
Totalt: 6.94 °C

**Beregning av standardavvik**

In [6]:
standardavvik_temp = temp_mål.standardavvik(df_temp_renset)

print("Standardavvik i 4 intervaller + totalt: ")
for key, value in standardavvik_temp.items():
    print(f"{key}: {value} °C")

Standardavvik i 4 intervaller + totalt:  [1.08, 0.68, 0.48, 1.01, 0.98]