In [5]:
import sys
import os

# Legg til src-mappen i sys.path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../src')))

from data_rens import DataRens

# Nedbør:

In [10]:
#Oppretter filstien til JSONfil med nedbør
nedbor_fil = "../data/frost_nedbor.json"

#Oppreter et nedbørs-objekt i DataRens() 
rens_nedbor = DataRens()

#Bruker metode fra klassen for å konvertere JSON til dataframe
df_nedbor = rens_nedbor.fra_json_til_dataframe(nedbor_fil)

#Bruke metode for å rense Dataframen
df_nedbor_renset = rens_nedbor.rens_DataFrame(df_nedbor)

#Nye gjennomsnittlige verdier
df_med_gjennomsnittlige_verdier = rens_nedbor.nye_nedbør_verdier(df_nedbor_renset)

#Printer ut renset dataframe av nedbør:
display(df_med_gjennomsnittlige_verdier.head())

Antall duplikater funnet: 0
Det er ingen datoer som mangler verdier!

   year  value  avg_per_day unit  days
0  1980  766.8         2.10   mm   366
1  1981  712.2         1.95   mm   365
2  1982  840.5         2.30   mm   365
3  1983  646.1         1.77   mm   365
4  1984  871.4         2.38   mm   366

# Skydekke:

In [7]:
#Oppretter filstien til JSONfil med nedbør
skydekke_fil = "../data/frost_skydekke.json"

#Oppreter et nedbørs-objekt i DataRens() 
rens_skydekke = DataRens()

#Bruker metode fra klassen for å konvertere JSON til dataframe
df_skydekke = rens_skydekke.fra_json_til_dataframe(skydekke_fil)

#Bruke metode for å rense Dataframen
df_skydekke_renset = rens_nedbor.rens_DataFrame(df_skydekke)

#Printer ut renset dataframe av nedbør:
display(df_skydekke_renset.head())

Antall duplikater funnet: 0
Det er ingen datoer som mangler verdier!

   year  value   unit
0  1980    5.0  octas
1  1981    5.2  octas
2  1982    5.3  octas
3  1983    5.1  octas
4  1984    5.5  octas

# Temperatur:

In [8]:
#Oppretter filstien til JSONfil med nedbør
temp_fil = "../data/frost_temp.json"

#Oppreter et nedbørs-objekt i DataRens() 
rens_temp = DataRens()

#Bruker metode fra klassen for å konvertere JSON til dataframe
df_temp = rens_temp.fra_json_til_dataframe(temp_fil)

#Bruke metode for å rense Dataframen
df_temp_renset = rens_temp.rens_DataFrame(df_temp)

#Printer ut renset dataframe av nedbør:
display(df_temp_renset.head())

Antall duplikater funnet: 0
Det er ingen datoer som mangler verdier!

   year  value  unit
0  1980    5.4  degC
1  1981    5.2  degC
2  1982    6.2  degC
3  1983    7.0  degC
4  1984    6.7  degC